<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Pass" value=""/>
    <add key="Server" value=""/>
    <add key="DefaultFilePath" value="C:\Program Files (x86)\Jefferson Co R-VII\PaperCut Desktop Manager\"/>
  </appSettings>
</configuration>